.imageSol {
    width: 30px;
    height: 30px;
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(128, 68, 233));
    
}

.imageBsc {
    width: 30px;
    height: 30px;
    filter: opacity(0.2) drop-shadow(0 0 0 rgb(255, 255, 0));
}

.imageEth {
    width: 30px;
    height: 30px;
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(49, 49, 49));
}